*{
    margin:0%;
    box-sizing: border-box;
    padding:0%;
    text-transform:capitalize;
}
header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    background-color: white;
    box-shadow: 3px 3px 10px black;
    text-align: center;
    color: black;
    position: sticky;
    top: 0px;
    z-index: 2;
    padding: 20px 20px;
}
.logo{
    margin-right: 100px;
    font-size: x-large;
    text-align: center;
    
}
nav{
    width: 40%;
    text-align: center;
    padding: 10px;
    margin-left: 800px;
}
nav a{
    text-decoration:none;
    padding: 5px;
    color: black;
}
.home_page{
    background-image: url(../imges/flowers-closeup-4k-es.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    text-align: center;
}
.home_page_item{
    background-color: rgba(0, 0, 0, 0.459);
    height: 50%;
    width: 25%;
    position: absolute;
    bottom: 25%;
    right: 40%;
}
.home_page_item h1{
    color: white;
    font-size:xx-large;
    text-align: center;
    margin: 40px 50px;
    padding: 20px 30px;
    text-transform: uppercase;
    border-top: 5px double white;
    border-bottom: 5px double white;
}
.home_page_item p{
    text-transform: uppercase;
    color: white;
    font-size:medium;
    padding:5px 20px;
    margin:2px 0px;
}
.home_page_item button{
    border: 1px solid rgba(255, 255, 255, 0.705);
    color: white;
    background-color: rgba(0, 0, 0, 0.164);
    padding: 10px 30px;
    margin: 30px 85px;
    text-align: center;
}
.sec_2{
    background-image: url(../imges/gray.png);
    background-size: cover;
    height: 100vh;
    text-align: center;
    position: relative;
}
.sec_2 h2{
    text-align: center;
    font-size: x-large;
    color: gray;
    padding:0px 200px;
   margin: 5px 50px; 
    padding-bottom: 10px;
}
.sec_2 p{
    text-align: center; 
    font-size: large;
    padding:0px 250px;
     margin: 5px 50px;
    color: grey;
    padding-top: 2px;
    margin-top:-2px;
   
}
.sec_3{
    color: white;
    background-color: rgba(0, 255, 255, 0.384);
    height: 300px;
    width: 75%;
    position:relative;
    left:10%;
    top: 5%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.sec_3_left{
    height: 80%;
    width: 40%;
}
.sec_3_right h4{
    text-transform:lowercase;
    padding: 40px 0px;
}
 .sec_3_right{
        height: 80%;
        width: 50%;

    }
    i{
        color: rgba(128, 128, 128, 0.466);
        padding: 40px 40px;
    }
    .btn1{
        margin: 60px;
        padding: 10px 10px;
        color:cyan;
        background-color:white;
        
    }
    .btn1:hover{
        transition: 0.5sec;
        background-color:grey;
    }
.sec_4{
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.404);
    padding-top: 100px;
}
.sec_4_item{
    text-align: center;
    height: 90%;
    width: 25%;
    }
.v{
     padding-bottom: 10px;
     
}


.sec_4_item h3{
    padding: 10px;
    padding-top: 5px;
    margin-top: 2px;
}
.sec_4_item p{
padding: 10px;
}
.sec_5{
    background-color: rgba(128, 128, 128, 0.418);
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sec_5_box{
    background-color: white;
    height: 40%;
    width: 80%;
    padding: 100px 10px;
    display: flex;
    justify-content: space-around;
    margin: 100px 0px;
    margin-top: -2px;
    
}
.sec_5_title{
    background:linear-gradient(40deg palevioletred purple );
    height: 40%;
    width:80%;
    background-color: white;
    color:palevioletred;
    margin-top: 80px;
    padding-top: 40px;
    font-size: xx-large;
}
.sec_5_left h3{
 margin: 20px 0px;
}
.sec_5_left p{
    margin: 20px 0px;
    padding: 10px 80px;
}
.sec_5_right h3{
 margin: 20px 0px;
}
.sec_5_right p{ 
    margin: 20px 0px;
    padding: 10px 80px;
}
img{
    margin-top: 20px;
    height: 150px;
    width: 350px;
}

.sec_6{
    background-attachment: fixed;
    background-image: url(../imges/flowers-closeup-4k-es.jpg);
    height:50vh ;
    width: 100%;
    background-size: cover;
    color: white;
    text-align: center;
    align-items: center;
}
.sec_6_item p{
    
    margin-top:50px;
    padding: 10px 0px;
}
.sec_6_item h2{
    margin-top:40px ;

}
.btns button {
     padding: 10px 0px;
     font-size: 18px;
     border: 1px solid white;
     background-color: transparent;
     margin: 10px 10px;
     border: 1px solid white;
     width: 180px;
     color: white;
    }
 button .btn :hover{
    color:blueviolet;
}

footer{
    
    height: 200px;
    padding: 80px;

}
.fa:hover{
    border-radius: 50%;
    /* transform: rotate(360deg);/ */
    transform: translate(0 ,-10px);
    transition: 0.5s;
    
    
}
footer .fa{
    background-color: white;
    color: #e4364f;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 10px;
}
footer p{
    font-size: medium;
    color:#e4364f;
    padding-top: 20px;
}

